* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #006aff;
    --secondary-color: #efefef;
}

html {
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
}

a:visited {
    color: var(--primary-color);
}

body ul li {
    list-style: none;
}

/* Navigation bar */
nav {
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 15px 10%;
    z-index: 10;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    position: relative;
    display: flex;
    padding-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

nav .logo a {
    display: flex;
    padding: 0.3rem 0.6rem;
    color: var(--primary-color);
    transition: all 0.25s ease;
}

nav .logo a:hover {
    border-bottom: 5px solid var(--primary-color);
}

nav ul {
    display: inline-flex;
}

nav ul li {
    margin-left: 2rem;
    word-spacing: 2px;
}

nav ul li a {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid transparent;
    transition: all 0.5s ease;
    font-weight: bold;
}

nav ul li a:hover {
    border-bottom: 5px solid var(--primary-color);
}

a:visited {
    color: var(--primary-color);
}

.active {
    border-bottom: 5px solid var(--primary-color);
   
}

@media screen and (max-width: 900px) {
    nav ul li {
        display: none;
    }
    nav .logo {
        display: block;
        margin: auto;
    }
}

/* Home section */

.home {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.home_container {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding: 8rem;
}

.column_left h2 {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.column_left h3 {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.column_left button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    margin-top: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: transparent;
    transition: all 0.5s ease;
}

.column_left button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.column_right h4 {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-top: 4rem;
    font-family: sans-serif;
}

.column_right button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin-top: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: transparent;
    transition: all 0.5s ease;
}

.column_right button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .home_container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .column_left h2 {
        font-size: 2rem;
    }

    .column_left h3 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 600px) {
    .home_container {
        padding: 6rem 2.5rem;
        gap: 1rem;
    }

    .column_left h2 {
        font-size: 1.5rem;
    }

    .column_left h3 {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1440px) {
    .home_container {
        padding: 12rem;
        gap: 5rem
    }

    .column_left h2 {
        font-size: 3rem;
    }

    .column_left h3 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 1025px) {
    .column_left h2 {
        font-size: 2.5rem;
    }

    .column_left h3 {
        font-size: 2rem;
    }
}